# Dependencias de PHP (Instaladas vía Composer)
/vendor/
composer.lock

# Configuración y variables de entorno (Contraseñas)
.env
config/config.php

# Archivos temporales y de sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos comprimidos de respaldo
*.zip
*.rar
tienda.zip

# Logs de errores
*.log